html {
    background-color: rgb(241, 211, 193);
    font-family:fantasy;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    background-color: rgb(255, 255, 255);
    width: 70rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 6%;
    box-shadow: 1px 1px 35px rgb(255, 255, 255);
}
.post-header {
    border-radius: 5px;
    background-color: rgb(173, 95, 43);
    color: rgb(255, 255, 255);
    padding: 1rem;
}
.post {
    border-radius: 5px;
    background-color: rgb(248, 246, 244);
    color: black;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(173, 95, 43);
}
.input-group {
    border-radius: 5px;
    background-color: rgb(248, 246, 244);
    color: black;
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(173, 95, 43);
}
.input-group label {
    border-radius: 5px;
    background-color: rgb(173, 95, 43);
    color: rgb(255, 255, 255);
    padding: 1rem;
}


button { 
    background-color: rgb(173, 95, 43);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: rgb(173, 114, 76);
    transition: 0.3s;
}
