<%- include("head.partial.ejs") %>
    <main>
        <a href="/">powrót</a>
        <h1><%= title %></h1>
        <form action="/" method="POST">
            <div class="input-group">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" required>
            </div>
            <div class="input-group">
                <label for="haslo">Hasło:</label>
                <input type="password" id="haslo" name="haslo" required>
            </div>
            <button type="submit">Stwórz konto</button>
        </form>
    </main>
<%- include("foot.partial.ejs") %>